<<<<<<< HEAD
@mixin filter($color){
    @if $color == #FFFFFF{
         background-color: rgba($color,.91);
    } @else {
         background-color: rgba($color,.69);
    }
}

=======
@mixin filter($color){
    @if $color == #FFFFFF{
         background-color: rgba($color,.91);
    } @else {
         background-color: rgba($color,.69);
    }
}

>>>>>>> 48ecfc9e60e31985419cc08f79d2a62d98167a31
