<<<<<<< HEAD
@mixin pill-style($color){
    border: 1px solid $color;
    color: $color;
=======
@mixin pill-style($color){
    border: 1px solid $color;
    color: $color;
>>>>>>> 48ecfc9e60e31985419cc08f79d2a62d98167a31
}